.app{
 /* .el-checkbox .is-checked .el-checkbox__inner{
    background-color: green;
    !*   background-color: red;*!
    border: #43a6ff;
  }
  .el-checkbox .is-disabled.is-checked .el-checkbox__inner{
    background-color: #4c5e7b;
    border: #43a6ff;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: green;
    border-color: #409EFF;
  }*/

}

